xsl-Transformation/rico.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XML Spy v4.2 U (http://www.xmlspy.com)-->
<!ELEMENT dcterms:creator EMPTY>
<!ATTLIST dcterms:creator
	rdf:resource CDATA #REQUIRED
>
<!ELEMENT rdf:Description (rico:identifier | rico:instantiates | rdf:type | rico:describes | rico:hasInstantiation | rico:includes | rdf:type | rico:date | rico:describedBy | rico:hasRecordSetType | rico:hasDocumentaryFormType | dcterms:creator | rico:identifier | rico:title | rico:hasRecordSetType | rico:includedIn | rico:hasInstantiation | rico:includes | rdf:type | rico:scopeAndContent)+>
<!ATTLIST rdf:Description
	rdf:about CDATA #REQUIRED
>
<!ELEMENT rdf:RDF (rdf:Description+)>
<!ATTLIST rdf:RDF
	xmlns:dcterms CDATA #REQUIRED
	xmlns:rdf CDATA #REQUIRED
	xmlns:rico CDATA #REQUIRED
	xml:base CDATA #REQUIRED
>
<!ELEMENT rdf:type EMPTY>
<!ATTLIST rdf:type
	rdf:resource CDATA #REQUIRED
>
<!ELEMENT rico:date (#PCDATA)>
<!ATTLIST rico:date
	xml:lang CDATA #IMPLIED
>
<!ELEMENT rico:describedBy EMPTY>
<!ATTLIST rico:describedBy
	rdf:resource CDATA #REQUIRED
>
<!ELEMENT rico:describes (#PCDATA)>
<!ATTLIST rico:describes
	xml:lang CDATA #IMPLIED
>
<!ELEMENT rico:hasDocumentaryFormType EMPTY>
<!ATTLIST rico:hasDocumentaryFormType
	rdf:resource CDATA #REQUIRED
>
<!ELEMENT rico:hasInstantiation EMPTY>
<!ATTLIST rico:hasInstantiation
	rdf:resource CDATA #REQUIRED
>
<!ELEMENT rico:hasRecordSetType (#PCDATA)>
<!ATTLIST rico:hasRecordSetType
	rdf:resource CDATA #IMPLIED
>
<!ELEMENT rico:identifier (#PCDATA)>
<!ELEMENT rico:includedIn EMPTY>
<!ATTLIST rico:includedIn
	rdf:resource CDATA #REQUIRED
>
<!ELEMENT rico:includes EMPTY>
<!ATTLIST rico:includes
	rdf:resource CDATA #REQUIRED
>
<!ELEMENT rico:instantiates EMPTY>
<!ATTLIST rico:instantiates
	rdf:resource CDATA #REQUIRED
>
<!ELEMENT rico:scopeAndContent (#PCDATA)>
<!ATTLIST rico:scopeAndContent
	xml:lang CDATA #REQUIRED
>
<!ELEMENT rico:title (#PCDATA)>
<!ATTLIST rico:title
	xml:lang CDATA #REQUIRED
>
